[project]
name = "issi_fractional"
version = "0.1.0"
description = "Prosty moduł z klasą Fractional i testami pytest"
readme = "README.md"
requires-python = ">=3.11"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=8",
]
